<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full p-6 bg-white shadow-lg rounded-lg">
      <h2 class="text-2xl font-semibold text-center mb-4">Sign Up</h2>
      <form class="space-y-4">
        <div>
            <label for="username" class="block font-medium">Username</label>
            <input type="text" id="username" name="username" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
          </div>
        <div>
          <label for="firstName" class="block font-medium">First Name</label>
          <input type="text" id="firstName" name="firstName" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <label for="lastName" class="block font-medium">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <label for="dateOfBirth" class="block font-medium">Date of Birth</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <label for="nationalIdentity" class="block font-medium">National Identity</label>
          <input type="text" id="nationalIdentity" name="nationalIdentity" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <label for="email" class="block font-medium">Email</label>
          <input type="email" id="email" name="email" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <label for="password" class="block font-medium">Password</label>
          <input type="password" id="password" name="password" class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
        <div>
          <button type="submit" class="w-full bg-indigo-500 text-white font-semibold py-2 rounded-md hover:bg-indigo-600 transition duration-300">Sign Up</button>
        </div>
          <div class="text-sm text-center">
            <p class="text-gray-600">Already have an account? <a routerLink='/login'  class="text-indigo-600 hover:underline">Log in</a></p>
          </div>
      </form>
    </div>
  </div>
  
