<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>CodeStorm Admin Panel</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a routerLink='adminpanel'>Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    CodeStorm
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>

<div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon purple">
          <i class="lni lni-user"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">UnApproved Comments</h6>
          <h3 class="text-bold mb-10">0</h3>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
  
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon success">
          <i class="lni lni-user"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Bootcamp Count</h6>
          <h3 class="text-bold mb-10">6</h3>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->



    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon warning">
          <i class="lni lni-user"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">New Applications</h6>
          <h3 class="text-bold mb-10">0</h3>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
  <!-- Diğer col-* divlerini de benzer şekilde row içine alın -->
  