<form *ngIf="!isloading">

    <div class="card-style mb-30">
        <h6 class="mb-25">Comment Details</h6>

        <div class="form-check checkbox-style chexbox-success mb-20">
            <label class="form-check-label" for="checkbox-3">
                Comment approval &#160; &#160;</label>
            <input disabled type="checkbox" checked="{{this.currentComment.status}}" id="checkbox-3 statusInput">
        </div>

        <div class="input-style-1">
            <label for="contextInput">Comment Context</label>
            <textarea id="contextInput" disabled value="{{this.currentComment.context}}"></textarea>
        </div>
        <div class="input-style-1">
            <input formControlName="id" id="idInput" type="hidden" />
            <label for="bootcampNameInput">Bootcamp Name</label>
            <input disabled id="bootcampNameInput" type="text"
                value="{{this.currentComment.bootcampName}}" />
        </div>

        <div class="input-style-1">
            <label for="userEmailInput">User Email</label>
            <input id="userEmailInput" disabled value="{{this.currentComment.userEmail}}" />
        </div>
        <div class="input-style-1">
            <label for="userFirstNameInput">User First Name</label>
            <input id="userFirstName" disabled value="{{this.currentComment.userFirstName}}" />
        </div>
        <div class="input-style-1">
            <label for="userLastNameInput">User Last Name</label>
            <input id="userLastNameInput" disabled value="{{this.currentComment.userLastName}}" />
        </div>
        <div class="input-style-1">
            <label for="createdDateInput">Comment Created Date</label>
            <input type="text" id="createdDateInput" disabled
                value="{{currentComment.createdDate | date : 'dd/MM/yyyy' }}" />
        </div>
    </div>

    <div>
        <a (click)="deleteChapter(this.currentComment.id)" class="main-btn danger-btn rounded-full btn-hover">Delete</a> |

        <a routerLink='/adminpanel/commentindex'><span class="main-btn dark-btn rounded-full btn-hover">Back</span></a>
    </div>

</form>