
<form [formGroup]="BootcampStateForm" (ngSubmit)="onFormSubmit()" *ngIf="BootcampStateForm">

<div class="card-style mb-30">
    <h6 class="mb-25">Input Fields</h6>
    <div class="input-style-1">
      <label for="nameInput" >Bootcamp State Name</label>
      <input formControlName="name" id="nameInput" type="text" placeholder="Bootcanmp State Name" />
    </div>
  </div>
  <button type="submit" class="main-btn success-btn rounded-full btn-hover">Add</button> |
  <a class="main-btn dark-btn rounded-full btn-hover" routerLink='/adminpanel/bootcampstateindex'>Back</a>
</form>