<div style="margin-top: 10px;" class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Hoca ara">
</div>
<div *ngIf="filterText" class="alert alert-success" style="opacity: 0.8;">
 {{filterText}} aradınız.
</div>

<ul class="list-group" style="opacity: 0.8;">
    <li routerLink="/home-page" [class]="getDefaultInstructorClass()">Hocalar</li>
</ul>
<div class="mb-3" style="opacity: 0.8;">
    <select class="form-select" size="5" aria-label="size 3 select example">
        <option style="background-color: rgb(252,251,245);"
        routerLink="/bootcamps"
         >All Instructors</option>

        <option style="background-color: rgb(252,251,245);" (click)="onSelectedInstructor(instructor.id)"
        [ngClass]="{
            active:selectedInstructorId===instructor.id
        }"
        [class]="getCurrentInstructorClass(instructor)"routerLink="/bootcamps/instructor/{{instructor.id}}"
        *ngFor="let instructor of instructors.items " value="instructor.id">{{instructor.firstName +" "+ instructor.lastName}}</option>
    </select>
</div>  




