<div class="bg-gray-100">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <aside class="w-64 bg-white shadow-md">
            <div class="p-4">
                <input type="text" [(ngModel)]="filterText" class="border border-gray-300 p-2 rounded-md w-full" placeholder="Hoca ara">
            </div>
            
            <div *ngIf="filterText" class="p-4 bg-green-100 opacity-80">
                {{ filterText }} aradınız.
            </div>
            
            <div class="p-4">
                <select class="form-select w-full" size="5" aria-label="size 3 select example">
                    <option class="bg-gray-100" routerLink="/bootcamps">Tüm Eğitmenler</option>
                    <ng-container *ngFor="let instructor of instructors.items">
                        <option *ngIf="instructor.id" [ngClass]="{
                                'bg-indigo-300': selectedInstructorId === instructor.id
                            }" 
                            (click)="onSelectedInstructor(instructor.id)" 
                            routerLink="/bootcamps/instructor/{{instructor.id}}">
                            {{ instructor.firstName }} {{ instructor.lastName }}
                        </option>
                    </ng-container>
                </select>
            </div>
        </aside>
    </div>
</div>
