<body [ngClass]="{ 'dark-body': darkModeService.darkModeSignal() === 'dark', 'light-body': darkModeService.darkModeSignal() === 'light' }">
  <section [ngClass]="{ 'dark-section': darkModeService.darkModeSignal() === 'dark', 'light-section': darkModeService.darkModeSignal() === 'light' }">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div [ngClass]="{ 'dark-reset': darkModeService.darkModeSignal() === 'dark', 'light-reset': darkModeService.darkModeSignal() === 'light' }">
      <div [ngClass]="{ 'dark-content': darkModeService.darkModeSignal() === 'dark', 'light-content': darkModeService.darkModeSignal() === 'light' }">
        <h2>Reset Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" [ngClass]="{ 'dark-form': darkModeService.darkModeSignal() === 'dark', 'light-form': darkModeService.darkModeSignal() === 'light' }">
    <div [ngClass]="{ 'dark-inputBx': darkModeService.darkModeSignal() === 'dark', 'light-inputBx': darkModeService.darkModeSignal() === 'light' }">
      <input (input)="validatePassword()"
        id="newPassword" type="password" [(ngModel)]="newPassword" formControlName="newPassword" >
        <i>New Password</i>
        <div *ngFor="let validation of validations" class="error-message" [ngClass]="{'valid': validation.condition,'dark-valid': darkModeService.darkModeSignal() === 'dark', 'light-valid': darkModeService.darkModeSignal() === 'light'}">
          <label *ngIf="validation.condition" class="text-green-500">✓</label>
          <label *ngIf="!validation.condition" class="text-red-500">✗</label>
          {{ validation.message }}
        </div>
    </div>
    <div [ngClass]="{ 'dark-inputBx': darkModeService.darkModeSignal() === 'dark', 'light-inputBx': darkModeService.darkModeSignal() === 'light' }">
      <input
        id="confirmPassword" type="password" formControlName="confirmPassword">
        <i>Verify Password</i>
        <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors" [ngClass]="{ 'dark-verify': darkModeService.darkModeSignal() === 'dark', 'light-verify': darkModeService.darkModeSignal() === 'light' }">
          <div *ngIf="passwordForm.get('confirmPassword')?.errors">New password repetition is required. Passwords do not match.</div>
        </div>
    </div>
    <div [ngClass]="{ 'dark-inputBx': darkModeService.darkModeSignal() === 'dark', 'light-inputBx': darkModeService.darkModeSignal() === 'light' }">
      <input onclick=""
        type="submit" value="Reset password">
    </div>
  </form>
  </div>
  </div>
</div>
  </section>
</body>