<div class="max-w-md mx-auto mt-40 mb-64">
  <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-center text-2xl font-bold mb-8">Şifrenizi Sıfırlayın</h2>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">
        Yeni Şifre
      </label>
      <input (input)="validatePassword()"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="newPassword" type="password" [(ngModel)]="newPassword" formControlName="newPassword" >
        <div *ngFor="let validation of validations" class="error-message" [ngClass]="{'valid': validation.condition}">
          <span *ngIf="validation.condition" class="text-green-500">✓</span>
          <span *ngIf="!validation.condition" class="text-red-500">✗</span>
          {{ validation.message }}
        </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
        Şifrenizi Doğrulayın
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirmPassword" type="password" formControlName="confirmPassword">
        <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors" class="text-red-500 mt-1 text-sm">
          <div *ngIf="passwordForm.get('confirmPassword')?.errors">Yeni şifre tekrarı gereklidir.</div>
          <div *ngIf="passwordForm.get('confirmPassword')?.errors">Şifreler eşleşmiyor.</div>
        </div>
    </div>
    <div class="flex items-center justify-between">
      <button onclick=""
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Şifreyi Sıfırla
      </button>
    </div>
  </form>
  </div>
  



   <!-- <div class="p-4">
    <input type="password" [(ngModel)]="newPassword" (input)="validatePassword()" class="border rounded-md px-3 py-2 mb-2">
    <div *ngFor="let validation of validations" class="error-message" [ngClass]="{'valid': validation.condition}">
      <span *ngIf="validation.condition" class="text-green-500">✓</span>
      <span *ngIf="!validation.condition" class="text-red-500">✗</span>
      {{ validation.message }}
    </div>
  </div> -->

   <!-- <div class="container">
    <h2>Şifremi Unuttum</h2>
  
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Yeni Şifre</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
        <div class="validation-errors" *ngIf="!passwordForm.get('newPassword')?.valid">
          <p *ngIf="passwordForm.get('newPassword')!.hasError('required')">Şifre gereklidir.</p>
          <p *ngIf="passwordForm.get('newPassword')!.hasError('minlength')">Şifre en az 8 karakter olmalıdır.</p>
          <p *ngIf="passwordForm.get('newPassword')!.hasError('uppercase')">En az 1 büyük harf gereklidir.</p>
          <p *ngIf="passwordForm.get('newPassword')!.hasError('lowercase')">En az 1 küçük harf gereklidir.</p>
          <p *ngIf="passwordForm.get('newPassword')!.hasError('number')">En az 1 rakam gereklidir.</p>
          <p *ngIf="passwordForm.get('newPassword')!.hasError('specialCharacter')">En az 1 özel karakter gereklidir.</p>
        </div>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Yeni Şifreyi Tekrar Girin</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
        <div class="validation-errors" *ngIf="!passwordForm.get('confirmPassword')?.valid">
          <p *ngIf="passwordForm.get('confirmPassword')!.hasError('required')">Şifre tekrarı gereklidir.</p>
          <p *ngIf="passwordForm.get('confirmPassword')!.hasError('notMatching')">Şifreler eşleşmiyor.</p>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Gönder</button>
    </form>
  </div>
  
 -->
