<div class="max-w-md mx-auto mt-40 mb-64">
  <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-center text-2xl font-bold mb-8">Şifrenizi Sıfırlayın</h2>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">
        Yeni Şifre
      </label>
      <input (input)="validatePassword()"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="newPassword" type="password" [(ngModel)]="newPassword" formControlName="newPassword" >
        <div *ngFor="let validation of validations" class="error-message" [ngClass]="{'valid': validation.condition}">
          <span *ngIf="validation.condition" class="text-green-500">✓</span>
          <span *ngIf="!validation.condition" class="text-red-500">✗</span>
          {{ validation.message }}
        </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
        Şifrenizi Doğrulayın
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirmPassword" type="password" formControlName="confirmPassword">
        <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors" class="text-red-500 mt-1 text-sm">
          <!-- <div *ngIf="passwordForm.get('confirmPassword')?.errors">Yeni şifre tekrarı gereklidir.</div> -->
          <div *ngIf="passwordForm.get('confirmPassword')?.errors">Şifreler eşleşmiyor.</div>
        </div>
    </div>
    <div class="flex items-center justify-between">
      <button onclick=""
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Şifreyi Sıfırla
      </button>
    </div>
  </form>
  </div>