#hero {
    margin:0;
    padding:0;
}
#hero video {
    height: 100vh;
    width:100%;
    background-position: relative;
    z-index: 1;
    object-fit: cover;
}
#hero .content {
height:100%;
width: 100%;
z-index: 1;
position: absolute;
top:0;
left:0;
text-align: center;
display:flex;
align-items: center;
justify-content: center;
}
#hero img {
height: 50%;
width: 50%;
}

.button {
    background-image: linear-gradient(to right bottom, #8585ff, #8585ff, #8585ff, #4ab4fb, #4ab4fb);
    border: none;
    font-size: 1.2em;
    border-radius: 0;
    padding: 4px;
    transition: border-top-left-radius 0.2s ease-in, 
    border-top-right-radius 0.2s ease-in 0.15s, 
    border-bottom-right-radius 0.2s ease-in 0.3s,
    border-bottom-left-radius 0.2s ease-in 0.45s, 
    padding 0.2s ease-in;
    position: relative;
  }
  
  .button__int {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 10px 40px;
    transition: all 0.2s ease-in,
    border-top-left-radius 0.2s ease-in, 
    border-top-right-radius 0.2s ease-in 0.15s, 
    border-bottom-right-radius 0.2s ease-in 0.3s,
    border-bottom-left-radius 0.2s ease-in 0.45s,
    padding 0.2s ease-in;
    font-weight: 600;
    z-index: -1;
    box-shadow: -15px -10px 30px -5px #8585ff,
      15px -10px 30px -5px #8585ff,
      15px 10px 30px -5px #4ab4fb,
      -15px 10px 30px -5px #4ab4fb;
  }
  
  .button:active .button__int {
    padding: 10px 30px;
  }
  
  .button:hover {
    border-radius: 1.5em;
  }
  
  .button:hover .button__int {
    border-radius: 1.3em;
  }
  
  .button:hover .button__int {
    box-shadow: -15px -10px 30px -5px #8585ff,
      15px -10px 30px -5px #8585ff,
      15px 10px 30px -5px #4ab4fb,
      -15px 10px 30px -5px #4ab4fb;
  }
  
