<div id="hero" class="min-h-screen">
    <video id="thunder" autoplay loop muted playsinline>
      <source src="../../../assets/img/vecteezy_dark-lightning-thunder_2015459.mp4" type="video/mp4">
    </video>
    <div class="content">
      <div class="container flex flex-col items-center justify-center">
        <img src="../../../assets/img/logo.png.png" alt="CodeStorm Logo" class="mb-4 h-16 ">
        <p class="text-lg mt-4 mb-4 text-white dark:text-white font-medium">Your email address has been verified.</p>
    <p class="text-lg mb-8 text-white dark:text-white font-medium">Supercharge your coding skills with our intensive bootcamps designed for aspiring developers like you. Join a vibrant community of learners and mentors today!</p>
    <button class="button">
      <div class="button__int">
        <span class="button__span" routerLink="/login">Explore Now</span>
      </div>
    </button>
    </div>
  </div>

