<form [formGroup]="BootcampForm" (ngSubmit)="onFormSubmit()" enctype="multipart/form-data" *ngIf="BootcampForm && !isloading">
    <div>
      @if(formMessage){
          <small>{{formMessage}}</small>
      }
    </div>
    <div class="card-style mb-30">
      <h6 class="mb-25">Input Fields</h6>
      <div class="input-style-1">
        <label for="nameInput">Bootcamp Name</label>
        <input formControlName="name" id="nameInput" type="text" placeholder="Bootcamp Name" />
      </div>
        <div class="select-style-1">
          <label for="instructorSelect">Instructor</label>
          <div class="select-position">
            <select formControlName="instructorId" id="instructorSelect" placeholder="Select Instructor">
                <option *ngFor="let instructor of instructors.items" [value]="instructor.id">{{ instructor.firstName + " " + instructor.lastName }}</option>
            </select>
          </div>
    </div>
      <div class="input-style-1">
        <label for="fileInput">File</label>
        <input type="file" name="file" formControlName="file" id="fileInput" (change)="onFileChange($event)">
      </div>
      <div class="input-style-1">
        <label for="startDateInput">Start Date</label>
        <input formControlName="startDate" id="startDateInput" type="date" />
      </div>
      <div class="input-style-1">
        <label for="endDateInput">End Date</label>
        <input formControlName="endDate" id="endDateInput" type="date" />
      </div>
      <div class="input-style-1">
        <label for="descriptionInput">Description</label>
        <textarea formControlName="description" id="descriptionInput"></textarea>
      </div>
    <div class="select-style-1">
        <label for="stateSelect">Bootcamp State</label>
        <div class="select-position">
          <select formControlName="bootcampStateId" id="stateSelect">
            <option *ngFor="let state of bootcampStates.items" [value]="state.id">{{ state.name }}</option>
          </select>
        </div>
    </div>
</div>


    <button type="submit" class="main-btn active-btn rounded-full btn-hover">Add Bootcamp</button>
    <br>
    <a routerLink='/adminpanel/bootcampindex'><span class="main-btn dark-btn rounded-full btn-hover">Back</span></a>
  </form>
