<form [formGroup]="AnnouncementUpdateForm" (ngSubmit)="onFormSubmit()" enctype="multipart/form-data"
    *ngIf="AnnouncementUpdateForm">

    <div class="card-style mb-30">
        <h6 class="mb-25">Input Fields</h6>
        <input formControlName="id" id="idInput" type="hidden" />

        <div class="input-style-1">
            <label for="headerInput">Announcement Header</label>
            <input formControlName="header" id="headerInput" />
        </div>
        
        <div class="input-style-1">
            <label for="descriptionInput">Announcement Description</label>
            <textarea formControlName="description" id="descriptionInput"></textarea>
        </div>
    </div>

    <div> <button type="submit" class="main-btn warning-btn rounded-full btn-hover">Update Announcement </button> |
        <a routerLink='/adminpanel/announcementindex'><span class="main-btn dark-btn rounded-full btn-hover">Back</span></a>
    </div>

</form>