<body
    [ngClass]="{ 'dark-body': darkModeService.darkModeSignal() === 'dark', 'light-body': darkModeService.darkModeSignal() === 'light' }">
    <div
        [ngClass]="{ 'dark-container': darkModeService.darkModeSignal() === 'dark', 'light-container': darkModeService.darkModeSignal() === 'light' }">
        <header
            [ngClass]="{ 'dark-header': darkModeService.darkModeSignal() === 'dark', 'light-header': darkModeService.darkModeSignal() === 'light' }">
            <h1>Privacy Policy</h1>
            <p>Updated Date: [01.06.2024]</p>
        </header>
        <main
            [ngClass]="{ 'dark-main': darkModeService.darkModeSignal() === 'dark', 'light-main': darkModeService.darkModeSignal() === 'light' }">
            <section>
                <h2>Introduction</h2>
                <p>Welcome to CodeStorm. We are committed to protecting your privacy and ensuring that your personal
                    information is handled in a safe and responsible manner. This Privacy Policy outlines how we
                    collect, use, and protect your information when you use our website, <a
                        href="http://www.codestorm.com">www.codestorm.com</a> (the "Site").</p>
            </section>
            <section>
                <h2>1. Information We Collect</h2>
                <h3>1.1 Personal Information</h3>
                <p>When you register on our Site, participate in our bootcamp, or engage in certain activities, we may
                    collect personal information such as:</p>
                <ul>
                    <li>Name</li>
                    <li>Email address</li>
                    <li>Phone number</li>
                    <li>Any other information you provide to us voluntarily</li>
                </ul>
                <h3>1.2 Non-Personal Information</h3>
                <p>We may also collect non-personal information about your visit to our Site. This information may
                    include:</p>
                <ul>
                    <li>Browser type and version</li>
                    <li>Operating system</li>
                    <li>Referring website</li>
                    <li>Pages viewed and time spent on our Site</li>
                    <li>IP address</li>
                </ul>
            </section>
            <section>
                <h2>2. How We Use Your Information</h2>
                <p>We use the information we collect for the following purposes:</p>
                <ul>
                    <li>To provide and improve our services, including our bootcamp programs</li>
                    <li>To communicate with you, including responding to your comments, questions, and requests</li>
                    <li>To send you technical notices, updates, security alerts, and support and administrative messages
                    </li>
                    <li>To monitor and analyze trends, usage, and activities in connection with our services</li>
                    <li>To personalize and improve our Site and services</li>
                </ul>
            </section>
            <section>
                <h2>3. How We Share Your Information</h2>
                <p>We do not sell, trade, or otherwise transfer your personal information to outside parties without
                    your consent, except as described below:</p>
                <ul>
                    <li><strong>Service Providers:</strong> We may share your information with third-party vendors,
                        consultants, and other service providers who perform services on our behalf.</li>
                    <li><strong>Legal Requirements:</strong> We may disclose your information if required to do so by
                        law or in response to valid requests by public authorities (e.g., a court or a government
                        agency).</li>
                    <li><strong>Business Transfers:</strong> In the event of a merger, acquisition, or sale of all or a
                        portion of our assets, your personal information may be transferred as part of that transaction.
                    </li>
                </ul>
            </section>
            <section>
                <h2>4. Cookies and Tracking Technologies</h2>
                <p>We use cookies and similar tracking technologies to track the activity on our Site and hold certain
                    information. Cookies are files with a small amount of data that are sent to your browser from a
                    website and stored on your device. You can instruct your browser to refuse all cookies or to
                    indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to
                    use some portions of our Site.</p>
            </section>
            <section>
                <h2>5. Security of Your Information</h2>
                <p>We take reasonable measures to help protect your personal information from loss, theft, misuse, and
                    unauthorized access, disclosure, alteration, and destruction. However, please be aware that no
                    method of transmission over the internet or method of electronic storage is completely secure.</p>
            </section>
            <section>
                <h2>6. Your Choices</h2>
                <p>You may update, correct, or delete your account information at any time by logging into your account
                    or contacting us directly. You can also opt-out of receiving promotional communications from us by
                    following the instructions in those communications or by contacting us.</p>
            </section>
            <section>
                <h2>7. Children's Privacy</h2>
                <p>Our Site is not intended for individuals under the age of 13. We do not knowingly collect personal
                    information from children under 13. If we become aware that a child under 13 has provided us with
                    personal information, we will take steps to delete such information.</p>
            </section>
            <section>
                <h2>8. Changes to This Privacy Policy</h2>
                <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the
                    new Privacy Policy on this page and updating the "Effective Date" at the top. You are advised to
                    review this Privacy Policy periodically for any changes.</p>
            </section>
            <section>
                <h2>9. Contact Us</h2>
                <p>If you have any questions about this Privacy Policy, please <a routerLink="/contact-us">contact us</a>.</p>
                <p><strong>Email: </strong> <a href="mailto:codestormpair6@gmail.com
                    ">codestormpair6&#64;gmail.com
                </a></p>
                <p><strong>Address:</strong> CodeStorm, [TURKEY/ISTANBUL, 34000]</p>
            </section>
        </main>
    </div>
</body>