<body>
<div class="min-h-screen bg-gray-100 dark:bg-neutral-800">
  <div class="container mx-auto px-6 py-6 bg-gray-100 dark:bg-neutral-800">
    <h1 class="text-3xl font-bold mb-8 mt-20 text-black dark:text-white text-center">Frequently Asked Questions</h1>
    <div *ngFor="let faq of faqList" class="bg-blue-300 dark:bg-indigo-400 rounded-lg shadow-md p-6 mb-6" (click)="toggleAnswer(faq)">
      <h3 class="text-xl font-semibold mb-2 text-black dark:text-black">{{ faq.question }}</h3>

      <p *ngIf="faq.isOpen" class="text-black dark:text-black">{{ faq.answer }}</p>
    </div>
    <div class="text-3xl font-bold mb-8 text-black dark:text-white text-center"><br><h3 >Still having questions?</h3><br>
      <button [ngClass]="{ 'dark-button': darkModeService.darkModeSignal() === 'dark', 'light-button': darkModeService.darkModeSignal() === 'light' }">
        <div [ngClass]="{ 'dark-button__int': darkModeService.darkModeSignal() === 'dark', 'light-button__int': darkModeService.darkModeSignal() === 'light' }">
          <span [ngClass]="{ 'dark-button__span': darkModeService.darkModeSignal() === 'dark', 'light-button__span': darkModeService.darkModeSignal() === 'light' }" routerLink="/contact-us">Contact Us</span>
        </div>
      </button>
    </div>
  </div>
</div>
</body>

  