<form [formGroup]="ApplicationStateForm" (ngSubmit)="onFormSubmit()" *ngIf="ApplicationStateForm">

<div class="card-style mb-30">
    <h6 class="mb-25">Input Fields</h6>
    <div class="input-style-1">
        <input formControlName="id" id="idInput" type="hidden"  value="{{currentApplicationState.id}}"/>
      <label for="nameInput" >Application State Name</label>
      <input formControlName="name" id="nameInput" type="text" placeholder="Application State Name" value="{{currentApplicationState.name}}"/>
    </div>
  </div>
  <button type="submit" class="main-btn warning-btn rounded-full btn-hover">Update</button> |
  <a class="main-btn dark-btn rounded-full btn-hover" routerLink='/adminpanel/applicationstateindex'>>Back</a>
</form>