
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  

<body>
  <header [ngClass]="{ 'dark-header': darkModeService.darkModeSignal() === 'dark', 'light-header': darkModeService.darkModeSignal() === 'light' }">
    <a routerLink="homepage" class="logo"> <img src="assets/img/logo.png.png" class="h-6" alt="CodeStorm Logo" /></a>
    <ul class="navbar" [ngClass]="{ 'dark-navbar': darkModeService.darkModeSignal() === 'dark', 'light-navbar': darkModeService.darkModeSignal() === 'light' }">
      <li><a routerLink="/homepage">Home</a></li>
      <li><a routerLink="/about-us">About</a></li>
      <li><a routerLink="/bootcamps">Courses</a></li>
      <li><a routerLink="/contact-us">Contact</a></li>
      <li><a routerLink="/faq">FAQs</a></li>
    </ul>

    <div [ngClass]="{ 'dark-main': darkModeService.darkModeSignal() === 'dark', 'light-main': darkModeService.darkModeSignal() === 'light' }">
      <a *ngIf="!isLoggedIn || !token" routerLink="/login" [ngClass]="{ 'dark-user': darkModeService.darkModeSignal() === 'dark', 'light-user': darkModeService.darkModeSignal() === 'light' }"><i class="fa-solid fa-user"></i> Login </a>
      <a *ngIf="!isLoggedIn || !token" routerLink="/sign-up" [ngClass]="{ 'dark-user': darkModeService.darkModeSignal() === 'dark', 'light-user': darkModeService.darkModeSignal() === 'light' }"><i class="fa-solid fa-user-plus"></i> Register</a> 
      <a *ngIf="isLoggedIn" (click)="showLogoutModal = true" [ngClass]="{ 'dark-user': darkModeService.darkModeSignal() === 'dark', 'light-user': darkModeService.darkModeSignal() === 'light' }"><i class="ri-logout-circle-line"></i> Log out</a>
      <a *ngIf="!isAdmin && isLoggedIn" [routerLink]="['/myprofile', userId.toString()]" [ngClass]="{ 'dark-user': darkModeService.darkModeSignal() === 'dark', 'light-user': darkModeService.darkModeSignal() === 'light' }"><i class="ri-user-heart-line"></i> My Profile</a>
      <a *ngIf="isAdmin" routerLink="/adminpanel" [ngClass]="{ 'dark-user': darkModeService.darkModeSignal() === 'dark', 'light-user': darkModeService.darkModeSignal() === 'light' }"><i class="ri-admin-line"></i> Admin Panel</a>
        
      
      @if (darkModeService.darkModeSignal() === 'dark') {
        <span (click)="toggleDarkMode()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
          </svg>
          
        </span>
        }@else {
        <span (click)="toggleDarkMode()"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>
        </span>
        }
      <div class="bx bx-menu" [ngClass]="{ 'dark-menu': darkModeService.darkModeSignal() === 'dark', 'light-menu': darkModeService.darkModeSignal() === 'light' }" id="menu-icon" (click)="menuClick()"></div>
    </div>
  </header>
  <div *ngIf="showLogoutModal">
              <div [ngClass]="{ 'dark-modal': darkModeService.darkModeSignal() === 'dark', 'light-modal': darkModeService.darkModeSignal() === 'light' }">
                <p [ngClass]="{ 'dark-text': darkModeService.darkModeSignal() === 'dark', 'light-text': darkModeService.darkModeSignal() === 'light' }">Are you sure you want to log out?</p>
                <div [ngClass]="{ 'dark-buttons': darkModeService.darkModeSignal() === 'dark', 'light-buttons': darkModeService.darkModeSignal() === 'light' }">
                  <button (click)="showLogoutModal = false"
                  [ngClass]="{ 'dark-cancel': darkModeService.darkModeSignal() === 'dark', 'light-cancel': darkModeService.darkModeSignal() === 'light' }">Cancel</button>
                  <button (click)="logOut()"
                  [ngClass]="{ 'dark-logout': darkModeService.darkModeSignal() === 'dark', 'light-logout': darkModeService.darkModeSignal() === 'light' }">Log out</button>
                </div>
              </div>
            </div>
</body>