/* app.component.css */

/* .container {
    max-width: 1024px;
  } */
  
 /* Buton şekli */
/* span {
  display: inline-flex; /* Span'leri flex container olarak kullanarak içeriği hizalama */
 /* align-items: center; /* İçeriği dikey olarak ortala */
  /*padding: 8px 16px; /* İçeriğin etrafına boşluk ekler */
  /*border-radius: 9999px; /* Yuvarlatılmış köşeler */
 /* cursor: pointer; /* Fare üzerine gelindiğinde işaretçiyi değiştir */
 /* border: 2px solid transparent; /* Kenarlık oluşturur, varsayılan olarak şeffaf */
/*} */

/* Butonun etrafındaki border'ı belirginleştirme */
/* span:hover {
  border-color: #7C3AED; /* Fare butonun üzerine geldiğinde kenarlık rengi */
/*} */

/* İkonun ortalanması */
/* span svg {
  margin-right: 8px; /* İkonun sağına bir boşluk ekler */
  /*margin-left:8px;
} */

/* button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 7em;
  height: 3em;
  line-height: 1em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
} */

/* button:hover {
  animation: ani 8s linear infinite;
  border: none;
} */

/* @keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
} */

/* button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #4cd1f3, #805bd1, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 35px;
  transition: 1s;
} */

/* button:hover::before {
  filter: blur(20px);
} */

/* button:active {
  background: linear-gradient(32deg, #4cd1f3, #805bd1, #ffeb3b, #03a9f4);
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Genel stiller */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* Dark mode styles */
.dark-header { 
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  color: #fff;
  padding: 28px 12%;
  transition: all .50s ease;
}
.dark-navbar { 
  display: flex; /* Yatay sıralama için */
}
.dark-navbar a { 
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all .50s ease;
}
.dark-navbar a:hover { 
  color: #8585ff;
}
.dark-main { 
  display: flex;
  align-items: center;
}
.dark-main a { 
  margin-right: 25px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}
.dark-user { 
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-user i { 
  color: #8585ff;
  font-size: 28px;
  margin-right: 7px;
}
.dark-main a:hover { 
  color: #8585ff;
}
.dark-menu { 
  font-size: 35px;
  color: #8585ff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.dark-modal { 
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: #181818;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dark-text { 
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}
.dark-buttons { 
  display: flex;
  justify-content: flex-end;
}
.dark-cancel { 
  background-color: #181818;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
}
.dark-logout { 
  background-color: #8585ff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

/* Light mode styles */
.light-header { 
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: #181818;
  padding: 28px 12%;
  transition: all .50s ease;
}
.light-navbar { 
  display: flex; /* Yatay sıralama için */
}
.light-navbar a { 
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all .50s ease;
}
.light-navbar a:hover { 
  color: #4ab4fb;
}
.light-main { 
  display: flex;
  align-items: center;
}
.light-main a { 
  margin-right: 25px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}
.light-user { 
  display: flex;
  align-items: center;
  cursor: pointer;
}
.light-user i { 
  color: #4ab4fb;
  font-size: 28px;
  margin-right: 7px;
}
.light-main a:hover { 
  color: #4ab4fb;
}
.light-menu { 
  font-size: 35px;
  color: #4ab4fb;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.light-modal { 
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.light-text { 
  font-size: 18px;
  margin-bottom: 20px;
  color: #181818;
}
.light-buttons { 
  display: flex;
  justify-content: flex-end;
}
.light-cancel { 
  background-color: #fff;
  color: #181818;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
}
.light-logout { 
  background-color: #4ab4fb;
  color: #181818;
  padding: 8px 16px;
  border-radius: 4px;
}

/* Medya sorguları */
@media (max-width: 1280px) {
  .dark-header, .light-header {
    padding: 14px 2%;
    transition: .2s;
  }
  .dark-navbar a, .light-navbar a {
    padding: 5px 0;
    margin: 0 20px;
  }
} 

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .dark-navbar, .light-navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: inherit; /* Mevcut arka plan rengini koruyun */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .dark-navbar a, .light-navbar a {
    display: block;
    margin: 16px 0;
    padding: 0 25px;
    transition: all .50s ease;
  }
  .dark-navbar a:hover {
    color: #4e4ee3;
    transform: translateY(5px);
  }
  .light-navbar a:hover {
    color: #4ab4fb;
    transform: translateY(5px);
  }
  .dark-navbar.open, .light-navbar.open {
    right: 2%;
  }
}
