#hero {
    margin:0;
    padding:0;
}
#hero video {
    height: 100vh;
    width:100%;
    background-position: relative;
    z-index: 1;
    object-fit: cover;
}
#hero .content {
height:100%;
width: 100%;
z-index: 1;
position: absolute;
top:0;
left:0;
text-align: center;
display:flex;
align-items: center;
justify-content: center;
}
#hero img {
height: 50%;
width: 50%;
}
