<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/odometer.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/nice-select.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/meanmenu.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/style.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/responsive.css">

        <title>Online Courses & Education Bootstrap Template</title>
        <link rel="icon" type="image/png" href="assets/homepageAssets/img/all-img/favicon.png">
    </head>
    <body>
        <!-- Start EduMim Banner Area -->
        <div class="edu-banner-area banner01">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12" id="deneme">
                        <div class="edu-banner-content">
                            <h1>Classical <span class="shape01" >Education</span> For The Future</h1>
                            <p>It is long established fact that reader distracted by the readable content.</p>

                            <div class="subscribe-inner-area">
                                    <button routerLink="/sign-up" class="default-btn">Sign Up</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="edu-banner-image">
                            <img src="assets/homepageAssets/images/banner/man1.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Banner Area -->

        <!-- Start EduMim About Area -->
        <div class="edu-about-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="edu-about-image">
                            <img src="assets/homepageAssets/images/all-img/about1.png" alt="banner-img">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="edu-about-content">
                            <p class="sub-title" >About CodeStorm</p>
                            <h2> The Place Where You Can <span class="shape02" >Achieve</span></h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                            <div class="about-list">
                                <div class="items">
                                    <div class="about-single-content">
                                        <div class="icon2">
                                            <img src="assets/homepageAssets/images/svg/light.svg" alt="icon">
                                        </div>
                                        <div class="content">
                                            <h3>Our Vision</h3>
                                            <p>There are many variations of passages of the Lorem Ipsum available.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="about-single-content">
                                        <div class="icon2">
                                            <img src="assets/homepageAssets/images/svg/target.svg" alt="icon">
                                        </div>
                                        <div class="content">
                                            <h3>Our Mission</h3>
                                            <p>There are many variations of passages of the Lorem Ipsum available.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/about-us" class="default-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim About Area -->

        <!-- Start EduMim Brands-area Area -->
        <div class="brands-area-area pb-100">
            <div class="container">
                <div class="brands-title">
                    <h3>Trusted By 1k+ Company Arround The World!</h3>
                </div>
                <ul class="brands-list" >
                    <li><a href="#"><img src="assets/homepageAssets/images/all-img/brands/1.svg" alt="brands"></a></li>
                    <li><a href="#"><img src="assets/homepageAssets/images/all-img/brands/2.svg" alt="brands"></a></li>
                    <li><a href="#"><img src="assets/homepageAssets/images/all-img/brands/3.svg" alt="brands"></a></li>
                    <li><a href="#"><img src="assets/homepageAssets/images/all-img/brands/4.svg" alt="brands"></a></li>
                    <li><a href="#"><img src="assets/homepageAssets/images/all-img/brands/5.svg" alt="brands"></a></li>
                </ul>
            </div>
        </div>
        <!-- End EduMim Brands-area -->

        <!-- Start EduMims Services Area -->
        <div class="edu-services-area ptb-100">
            <div class="container">
                <div class="edu-section-title">
                    <p class="sub-title" >Core Features</p>
                    <h2>Why <span class="shape02" >Choose</span> CodeStorm</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="edu-services-box">
                            <div class="icon">
                                <i class='bx bx-layer'></i>
                            </div>
                            <h3>Learn More Anywhere</h3>
                            <p>Learn from anywhere in world on desktop, mobile or tablet with an Internet connection.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="edu-services-box">
                            <div class="icon">
                                <i class='bx bx-chalkboard'></i>
                            </div>
                            <h3>Expert Instructor</h3>
                            <p>Learn from anywhere in world on desktop, mobile or tablet with an Internet connection.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="edu-services-box">
                            <div class="icon">
                                <i class='bx bx-support'></i>
                            </div>
                            <h3>24/7 Strong Support</h3>
                            <p>Learn from anywhere in world on desktop, mobile or tablet with an Internet connection.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- End EduMim Services Area Area -->

        <!-- Start EduMim Courses Area -->
        <div class="edu-courses-area ptb-100">
            <div class="container">
                <div class="edu-section-title">
                    <p class="sub-title" >Popular Courses</p>
                    <h2>Choose Our Top <span class="shape02" >Courses</span></h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c1.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Development</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$29.07</span>
                                <h3><a href="single-course.html">Financial Security Thinking and Principles Theory</a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c2.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Art & Design </span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$80</span>
                                <h3><a href="single-course.html">Basic Fundamentals of Interior & Graphics Design</a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c3.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Art & Design </span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$25.20</span>
                                <h3><a href="single-course.html">Increasing Engagement with Instagram & Facebook</a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c4.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Drawing</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$75</span>
                                <h3><a href="single-course.html">Introduction to Color Theory & Basic UI/UX </a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c5.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Technology</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$36.20</span>
                                <h3><a href="single-course.html">Financial Security Thinking and Principles Theory</a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-courses-box">
                            <div class="image">
                                <a href="single-course.html" class="d-block">
                                    <img src="assets/homepageAssets/images/all-img/c6.png" alt="image">
                                </a>
                                <div class="cr-tag">
                                    <a href="#"><span>Data Science</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="cr-price" >$38</span>
                                <h3><a href="single-course.html">Free Logo Design: From Concept to Presentation</a></h3>
                                <ul class="cr-items" >
                                    <li><i class='bx bx-food-menu'></i> <span>2 Lessons</span> </li>
                                    <li><i class='bx bx-time-five'></i> <span>4h 30m</span></li>
                                    <li><i class='bx bx-star' ></i> <span>4.5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-button">
                        <a routerLink="/bootcamps" class="default-btn">View All Courses</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Courses Area -->

        <!-- Start EduMim platfroom Area -->
        <div class="edu-platfrom-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="edu-platfrom-content">
                            <p class="sub-title" >Best Online Learning Platform</p>
                            <h2> One Platfrom & Many <span class="shape02" >Courses</span> For You </h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. </p>
                            <div class="platfrom-list">
                                <div class="items">
                                    <div class="edu-platfrom-img">
                                        <img src="assets/homepageAssets/images/svg/ok.svg" alt="banner-img">
                                    </div>
                                    <div class="platfrom-single-content">
                                        <h3>9/10 Average Satisfaction Rate</h3>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="edu-platfrom-img ">
                                        <img src="assets/homepageAssets/images/svg/ok.svg" alt="banner-img">
                                    </div>
                                    <div class="platfrom-single-content">
                                        <h3>96% Completitation Rate</h3>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="edu-platfrom-img">
                                        <img src="assets/homepageAssets/images/svg/ok.svg" alt="banner-img">
                                    </div>
                                    <div class="platfrom-single-content">
                                        <h3>Friendly Environment & Expert Teacher</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="edu-platfrom-image">
                            <img src="assets/homepageAssets/images/all-img/about2.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim platfrom Area -->

        <!-- Start EduMim Subscribe Area -->
        <div class="subscribe-area pt-100 pb-70 ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="subcribe-content">
                            <img src="assets/homepageAssets/images/svg/big-mail.svg" alt="mail">
                            <h2>Üye Ol Lan! Baaaasssssssssss</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="subscribe-from">
                            <form class="newsletter-form" data-toggle="validator">
                                <button routerLink="/sign-up" type="submit" class="default-btn">Sign Up</button>
                                <div id="validator-newsletter3" class="form-result"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Subscribe Area -->

        <!-- Start EduMim Topics Area -->
        <div class="edu-topics-area pt-100">
            <div class="container">
                <div class="edu-section-title">
                    <p class="sub-title" >Start Learning From Today</p>
                    <h2>Popular <span class="shape02" >Topics</span> To Learn </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-01">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t1.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Data Science</h3>
                                    <p>68 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-02">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t2.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>UI/UX Design</h3>
                                    <p>44 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-03">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t3.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Modern Physics</h3>
                                    <p>65 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-02">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t4.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Music Production</h3>
                                    <p>12 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-03">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t5.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Data Science</h3>
                                    <p>33 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-04">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t6.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Finances</h3>
                                    <p>22 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-05">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t7.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Global Science</h3>
                                    <p>47 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#" class="topic-box">
                            <div class="single-topic-box lg-01">
                                <div class="icon">
                                    <img src="assets/homepageAssets/images/icon/t8.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3>Game Design</h3>
                                    <p>56 Courses</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Topics Area -->

        <!-- Start EduMim Counter Area -->
        <div class="edu-counter-area">
            <div class="container">
                <div class="counter-box">
                    <ul class="counter-list">
                        <li>
                            <h3><span class="odometer" data-count="82">00</span><span class="sign">K+</span></h3>
                            <p>Enrolled Students</p>
                        </li>
                        <li>
                            <h3><span class="odometer" data-count="348">00</span><span class="sign">+</span></h3>
                            <p>Academic Programs</p>
                        </li>
                        <li>
                            <h3><span class="odometer" data-count="125">00</span><span class="sign">+</span></h3>
                            <p>Winning Award</p>
                        </li>
                        <li>
                            <h3><span class="odometer" data-count="37">00</span><span class="sign">+</span></h3>
                            <p>Certified Students</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Start EduMim Counter Area -->

        <!-- Start EduMim Testimonial Area -->
        <div class="edu-testimonial-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="edu-review">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/ins-2.png" alt="icon">
                            </div>
                            <div class="content">
                                <p>You might be raised on a farm. Sometimes languages are difficult and difficult to find the right the adjective to go with noun.</p>
                                <ul class="ratings">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                                <h3>Jhon Smith</h3>
                                <span>UI UX Designer</span>
                            </div>
                        </div>
                        <div class="edu-review-box">
                            <p>"You own your data and gain complete control over your business."</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="edu-set-box">
                           <h3>4.9/5</h3>
                           <ul class="ratings">
                                <li><i class='bx bxs-star'></i></li>
                                <li><i class='bx bxs-star'></i></li>
                                <li><i class='bx bxs-star'></i></li>
                                <li><i class='bx bxs-star'></i></li>
                                <li><i class='bx bxs-star'></i></li>
                            </ul>
                            <p>2000+ Satisfied Students</p>
                        </div>
                        <div class="edu-review-single">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/ins-3.png" alt="icon">
                            </div>
                            <div class="content">
                                <p>You might be raised on a farm. Sometimes some languages and difficult for difficult to find.</p>
                                <ul class="ratings">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                                <h3>Jhon Smith</h3>
                                <span>UI UX Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="edu-testimonial-content">
                            <p class="sub-title" >Testimonial</p>
                            <h2> What Says Our <span class="shape02" >Students</span> About Us</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <a href="#" class="default-btn">View All Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Testimonial Area -->



        <!-- Links of JS files -->
        <script src="../../../assets/homepageAssets/js/jquery.min.js"></script>
        <script src="../../../assets/js/bootstrap.min.js"></script>
        <script src="../../../assets/js/magnific-popup.min.js"></script>
        <script src="../../../assets/js/nice-select.min.js"></script>
        <script src="../../../assets/js/jquery.mixitup.min.js"></script>
        <script src="../../../assets/js/appear.min.js"></script>
        <script src="../../../assets/js/sticky-sidebar.min.js"></script>
        <script src="../../../assets/js/odometer.min.js"></script>
        <script src="../../../assets/js/owl.carousel.min.js"></script>
        <script src="../../../assets/js/meanmenu.min.js"></script>
        <script src="../../../assets/js/wow.min.js"></script>
        <script src="../../../assets/js/main.js"></script>
    </body>
</html>