  <div id="hero" class="min-h-screen">
    <video id="thunder" autoplay loop muted playsinline>
      <source src="../../../assets/img/vecteezy_dark-lightning-thunder_2015459.mp4" type="video/mp4">
    </video>
    <div class="content">
      <div class="container flex flex-col items-center justify-center">
        <img src="../../../assets/img/logo.png.png" alt="CodeStorm Logo" class="mb-4 h-16 ">
    <p class="text-lg mb-8 text-white dark:text-white font-medium">Supercharge your coding skills with our intensive bootcamps designed for aspiring developers like you. Join a vibrant community of learners and mentors today!</p>
    <a href="#" class="bg-indigo-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded transition duration-300">Explore Now</a>
    </div>
  </div>
