#btn {
    padding: 8px 8px;
    font-size: 20px;
    border: none;
    border-radius: 5em;
    background-size: 200% 100%;
    background-image: linear-gradient(145deg, #ff53eb, #4b4bff, #5de7ff);
    box-shadow: 3px 3px 10px 2px #4b4bff, -3px -3px 10px 2px #ff53eb;
    transition: 0.5s;
}

#btn:hover {
    background-position: 99%;
    box-shadow: 3px 3px 10px 2px #5de7ff, -3px -3px 10px 2px #4b4bff;
}

#btn:active {
    transform: scale(0.8) rotate(5deg);
    box-shadow: 3px 3px 15px 3px #5de7ff, -3px -3px 15px 3px #4b4bff;
}



