<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/odometer.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/nice-select.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/meanmenu.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/style.css">
    <link rel="stylesheet" href="../../../../assets/homepageAssets/css/responsive.css">


</head>
<div class="go-top active">
    <i class="bx bx-up-arrow-alt"></i>
</div>
        <!-- Start EduMim Footer Area -->
        <footer class="edu-footer-area">
            <div class="container">
                <div class="footer-top-area ptb-100">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 ">
                            <div class="single-footer-widget ">
                                <a href="index.html" class="logo">
                                    <img src="../../../assets/img/logo.png.png" class="footer-logo" alt="image" >
                                </a>
                                <ul class="social-links">
                                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer-widget pl-5 footer-link">
                                <h3>Site Map</h3>
                                <ul class="links-list">
                                    <li><a routerLink="/homepage">Home</a></li>
                                    <li><a routerLink="/about-us">About Us</a></li>
                                    <li><a href="services-details.html">Courses</a></li>
                                    <li><a href="services-details.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer-widget pl-5 footer-link">
                                <h3>Legal</h3>
                                <ul class="links-list">
                                    <li><a href="about.html">Terms of Use</a></li>
                                    <li><a href="contact.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="pr-line"></div>
                <div class="footer-bottom-area">
                    <p>© Copyright 2023 | <a href="#" target="_blank">Edumim Template</a>  | All Rights Reserved is Proudly </p>
                </div>
            </div>
        </footer>

                <script src="../../../../assets/homepageAssets/js/jquery.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/bootstrap.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/magnific-popup.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/nice-select.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/jquery.mixitup.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/appear.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/sticky-sidebar.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/odometer.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/owl.carousel.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/meanmenu.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/wow.min.js"></script>
                <script src="../../../../assets/homepageAssets/js/main.js"></script>
        
