

<footer class="bg-white dark:bg-gray-900 shadow dark:shadow-2x1 py-1 sticky bottom-0">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-4 sticky bottom-0">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/homepage" class="flex items-center mb-4 sm:mb-0 h-15 w-15 space-x-3 rtl:space-x-reverse">
                <img src="assets/img/logo.png.png "class="h-6" alt="CodeStorm Logo" />
                
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-bold text-black sm:mb-0 dark:text-white">
                <li>
                    <a  class="hover:underline me-4 md:me-6">Hakkımızda</a>
                </li>
                <li>
                    <a class="hover:underline me-4 md:me-6">Gizlilik</a>
                </li>
                <li>
                    <a class="hover:underline">İletişim</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-black sm:text-center dark:text-white">© 2024 
            <a class="hover:underline">CodeStorm™</a>. Tüm Hakları Saklıdır.</span>
    </div>
</footer>

