<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Links of CSS files -->
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/odometer.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/nice-select.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/meanmenu.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/style.css">
        <link rel="stylesheet" href="../../../../../assets/homepageAssets/css/responsive.css">

    </head>
    <body>
        <!-- Start Edu Single Course Area -->
        <div class="single-course-area ptb-100" *ngIf="getByIdBootcampResponse">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div *ngIf="!isloading" class="single-course-desc">
                            <div class="single-course-image">
                                <img [src]="getByIdBootcampResponse.bootcampImageImagePath" alt="image"/>
                                
                            </div>
                            <div class="single-course-content">
                                <h2>{{getByIdBootcampResponse.name}}</h2>
                                <h5>Status: {{getByIdBootcampResponse.bootcampStateName}}</h5>
                                <h5>Start Date: {{getByIdBootcampResponse.startDate | date:'dd.MM.yyyy'}}</h5>
                                <h5>End Date: {{getByIdBootcampResponse.endDate | date:'dd.MM.yyyy'}}</h5>
                            </div>
                            <div class="course-tabs">
                                <nav>
                                    <div class="nav course-nav" id="nav-tab" role="tablist">
                                        <button class="course-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Description</button>
                                        <button class=" course-link" id="nav-carriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-carriculum" type="button" role="tab" aria-controls="nav-carriculum" aria-selected="false">Comments</button>
                                        <button class=" course-link" id="nav-instructor-tab" data-bs-toggle="tab" data-bs-target="#nav-instructor" type="button" role="tab" aria-controls="nav-instructor" aria-selected="false">Instructor</button>
                                        <button class=" course-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Chapters</button>
                                    </div>
                                </nav>
                                <div class="single-course-tab" id="nav-tabContent">
                                    <div class="overview-panel fade active show" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                                        <div class="overview-content cmb-30">
                                            <h3 class="course-desc-heading">Course Description</h3>
                                            <p>{{getByIdBootcampResponse.description}}</p>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="carriculum-panel fade" id="nav-carriculum" role="tabpanel" aria-labelledby="nav-carriculum-tab">
                                        
                                        <!-- Comment Section -->
                                    <div *ngIf="!isloading" class="overview-extra">
                                        <section class="bg-white dark:bg-white py-8 lg:py-16 antialiased">
                                            <div class="max-w-2xl mx-auto px-4">
                                              <form class="mb-6" [formGroup]="commentForm" (ngSubmit)="addComment()">
                                                  <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-300 dark:bg-gray-300 dark:border-gray-300">
                                                      <label for="comment" class="sr-only">Your comment</label>
                                                      <textarea id="comment" rows="6"
                                                          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-black dark:placeholder-gray-500 dark:bg-gray-300"
                                                          placeholder="Write a comment..." formControlName="content" required></textarea>
                                                  </div>
                                                  <button type="submit"
                                                      class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                      Post comment
                                                  </button>
                                              </form>
                                              <article *ngFor="let items of commentList.items" class="p-6 text-base bg-white rounded-lg dark:bg-gray-300">
                                                  <footer class="flex justify-between items-center mb-2">
                                                      <div class="flex items-center">
                                                          <p class="inline-flex items-center mr-3 text-sm text-gray-300 dark:text-black font-semibold"><img
                                                                  class="mr-2 w-6 h-6 rounded-full"
                                                                  src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                                                  alt="Michael Gough">{{items.userFirstName +" "+items.userLastName}}</p>
                                                          <p class="text-sm text-gray-300 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                                                                  title="February 8th, 2022">{{items.createdDate | date:'dd.MM.yyyy'}}</time></p>
                                                      </div>
                                                  </footer>
                                                  <p class="text-gray-500 dark:text-gray-400">{{items.context}}</p>
                                              </article>
                                            </div>
                                          </section>
                                          <div class="flex flex-col items-center" *ngIf="commentList.hasNext || commentList.hasPrevious">

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="pagination-area text-center">
                                                    <button *ngIf="commentList.hasPrevious" type="button"
                                                    [disabled]="!commentList.hasPrevious" (click)="PreviousCommentPage()" class="prev page-numbers"><i class='bx bx-chevrons-left'></i></button>
                                                    <button class="page-numbers" aria-current="page">{{commentIndex+1}}</button>
                                                    <!-- <button  *ngFor="let pageNumber of pageNumbers(); let i = index"
                                                    [class.bg-cyan-500]="i+1 == currentPageNumber" [class.text-white]="i+1 == currentPageNumber"
                                                    (click)="changePage(i)"class="page-numbers current" aria-current="page">{{i+1}}</button> -->
                                                    <button *ngIf="commentList.hasNext" type="button"
                                                    [disabled]="!commentList.hasNext" (click)="nextCommentPage()" class="next page-numbers"><i class='bx bx-chevrons-right'></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                    <div class="instructor-panel fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
                                        <div class="single-instructor-content">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="instructor-img">
                                                        <img src="../../../../../assets/homepageAssets/images/all-img/ux.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="single-instructor-info">
                                                        <h2>{{getByIdBootcampResponse.instructorFirstName}} {{getByIdBootcampResponse.instructorLastName}}</h2>
                                                        <p class="sub-title" >FullStack Developer</p>
                                                        <div class="single-instructor-desc">
                                                            <p>{{getByIdBootcampResponse.instructorDescription}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="reviews-panel fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                        <div class="lesseon-review-section">
                                            <div class="student-reating">
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-6">
                                                        <div class="lession-review-items">
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <div class="progress-section">
                                                                <div class="progress">
                                                                    <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-title">
                                                                <span class="title">67%</span>
                                                            </div>
                                                        </div>
                                                        <div class="lession-review-items">
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <div class="progress-section">
                                                                <div class="progress">
                                                                    <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-title">
                                                                <span class="title">67%</span>
                                                            </div>
                                                        </div>
                                                        <div class="lession-review-items">
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <div class="progress-section">
                                                                <div class="progress">
                                                                    <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-title">
                                                                <span class="title">67%</span>
                                                            </div>
                                                        </div>
                                                        <div class="lession-review-items">
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <div class="progress-section">
                                                                <div class="progress">
                                                                    <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-title">
                                                                <span class="title">67%</span>
                                                            </div>
                                                        </div>
                                                        <div class="lession-review-items">
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <div class="progress-section">
                                                                <div class="progress">
                                                                    <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-title">
                                                                <span class="title">67%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="lession-total-review">
                                                            <h3>4.9</h3>
                                                            <ul>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                                <li><i class="bx bxs-star disstar"></i></li>
                                                            </ul>
                                                            <p>(2 Review)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="student-review-section">
                                                <h4>Reviews</h4>
                                                <div class="student-review-items">
                                                    <img src="../../../../../assets/homepageAssets/images/all-img/cmnt-1.png" alt="image">
                                                    <ul>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star disstar"></i></li>
                                                        <li><i class="bx bxs-star disstar"></i></li>
                                                    </ul>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                                    <h3>{{ getByIdBootcampResponse.instructorFirstName + getByIdBootcampResponse.instructorLastName}}</h3>
                                                    <span>Jan 24, 2023</span>
                                                </div>
                                                <div class="student-review-items">
                                                    <img src="../../../../../assets/homepageAssets/images/all-img/cmnt-2.png" alt="image">
                                                    <ul>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star"></i></li>
                                                        <li><i class="bx bxs-star disstar"></i></li>
                                                        <li><i class="bx bxs-star disstar"></i></li>
                                                    </ul>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                                    <h3>Daniel Smith</h3>
                                                    <span>Jan 24, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-course-sidebar">
                            <div class="course-widget">
                                
                                <div class="sidebar-content">
                                    <h3>Free</h3>
                                    <a href="#" class="default-btn course-btn" [ngClass]="{'expired': isExpired(getByIdBootcampResponse.endDate), 'notExpired': !isExpired(getByIdBootcampResponse.endDate)}">Başvur</a>
                                    <ul class="courses-details">
                                        <li><div class="icon"><img src="../../../../../assets/homepageAssets/images/icon/user.svg" alt="icon"> Instructor</div> <p>{{ getByIdBootcampResponse.instructorFirstName +" "+ getByIdBootcampResponse.instructorLastName}}</p></li>
                                        <li><div class="icon"><img src="../../../../../assets/homepageAssets/images/icon/file2.svg" alt="icon"> Lectures</div> <p>23</p></li>
                                        <li><div class="icon"><img src="../../../../../assets/homepageAssets/images/icon/clock.svg" alt="icon"> Duration</div> <p>2Hr 36Minutes</p></li>
                                    </ul>
                                    <ul class="course-shared">
                                        <li class="title">Share On:</li>
                                        <li><a href="#"><img src="../../../../../assets/homepageAssets/images/icon/fb.svg" alt="icon"></a></li>
                                        <li><a href="#"><img src="../../../../../assets/homepageAssets/images/icon/tw.svg" alt="icon"></a></li>
                                        <li><a href="#"><img src="../../../../../assets/homepageAssets/images/icon/ins.svg" alt="icon"></a></li>
                                        <li><a href="#"><img src="../../../../../assets/homepageAssets/images/icon/pn.svg" alt="icon"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edu Single Course Area -->
    </body>
</html>

