<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/odometer.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/nice-select.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/meanmenu.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/style.css">
        <link rel="stylesheet" href="../../../assets/homepageAssets/css/responsive.css">

        <title>Online Courses & Education Bootstrap Template</title>
        <link rel="icon" type="image/png" href="assets/img/all-img/favicon.png">
    </head>
    <body>

       

        <!-- Start EduMim About Area -->
        <div class="edu-about-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="edu-about-image">
                            <img src="assets/homepageAssets/images/all-img/about3.png" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="edu-about-content">
                            <p class="sub-title" >About CodeStorm</p>
                            <h2> We Provide The Best Online <span class="shape02" >Education</span></h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <div class="progress-content">
                                <div class="progress-section">
                                    <div class="progress-title">
                                        <h4>Business Studies</h4>
                                        <span class="title">86%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar psc01" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="max-width: 86%">
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-section">
                                    <div class="progress-title">
                                        <h4>Marketing</h4>
                                        <span class="title">67%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar psc02" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="67" style="max-width: 67%">
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-section">
                                    <div class="progress-title">
                                        <h4>Design & Development</h4>
                                        <span class="title">95%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar psc03" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95" style="max-width: 95%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim About Area -->

       

        <!-- Start EduMim Counter Area 02 -->
        <div class="edu-counter-area02 ptb-100">
            <div class="container">
                <div class="edu-section-title">
                    <p class="sub-title" >Some Fun Fact</p>
                    <h2>Our Great <span class="shape02" >Achievement</span></h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="counter-box02">
                            <img src="assets/homepageAssets/images/icon/counter-1.svg" alt="icon">
                            <h3><span class="odometer" data-count="82">00</span></h3>
                            <p>Enrolled Students</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="counter-box02">
                            <img src="assets/homepageAssets/images/icon/counter-2.svg" alt="icon">
                            <h3><span class="odometer" data-count="460">00</span></h3>
                            <p>Academic Programs</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="counter-box02">
                            <img src="assets/homepageAssets/images/icon/counter-3.svg" alt="icon">
                            <h3><span class="odometer" data-count="20">00</span></h3>
                            <p>Certified Students</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="counter-box02">
                            <img src="assets/homepageAssets/images/icon/counter-4.svg" alt="icon">
                            <h3><span class="odometer" data-count="200">00</span></h3>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start EduMim Counter Area 02 -->


        <!-- Start EduMim Team Area -->
        <div class="edu-team-area ptb-100">
            <div class="container">
                <div class="edu-section-title">
                    <p class="sub-title" >Team Member</p>
                    <h2>Our Expert <span class="shape02" >Instructors</span></h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-team-box02">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/banu.png" alt="image">
                                <div class="social-links">
                                    <div class="hover-social">
                                        <ul>
                                            <li><a href="#" class="sg-1"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#" class="sg-2"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#" class="sg-3"><i class="bx bxl-linkedin"></i></a></li>
                                        </ul>
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Erics Widget</h3>
                                <p>UI/UX Designer</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-team-box02">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/can.png" alt="image">
                                <div class="social-links">
                                    <div class="hover-social">
                                        <ul>
                                            <li><a href="#" class="sg-1"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#" class="sg-2"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#" class="sg-3"><i class="bx bxl-linkedin"></i></a></li>
                                        </ul>
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Daniel Steven</h3>
                                <p>UI/UX Designer</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-team-box02">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/berker.png" alt="image">
                                <div class="social-links">
                                    <div class="hover-social">
                                        <ul>
                                            <li><a href="#" class="sg-1"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#" class="sg-2"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#" class="sg-3"><i class="bx bxl-linkedin"></i></a></li>
                                        </ul>
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Nelson Decosta</h3>
                                <p>UI/UX Designer</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-team-box02">
                            <div class="image">
                                <img src="assets/homepageAssets/images/all-img/ege.png" alt="image">
                                <div class="social-links">
                                    <div class="hover-social">
                                        <ul>
                                            <li><a href="#" class="sg-1"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#" class="sg-2"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#" class="sg-3"><i class="bx bxl-linkedin"></i></a></li>
                                        </ul>
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Selina Gomez</h3>
                                <p>UI/UX Designer</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Team Area -->

        <!-- Start EduMim Faq Area -->
        <div class="edu-faq-area sectionBg15 ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="edu-faq-content">
                            <p class="sub-title" >Frequently Asked Question</p>
                            <h2>General <span class="shape02" >Questions</span></h2>
                        </div>
                        <div class="accordion edu-faqs-list" id="accordionFlushExample">
                            <div class="accordion-item faq-item">
                                <h2 class="faq-header" id="flush-headingOne">
                                <button class="accordion-button faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    What does it take excellent author?
                                </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse faq-collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="faq-item-body">
                                        <p>Learn at your own pace, move between multiple courses, or switch to a different course. Earn a certificate for every learning program that you complete at no additional cost.</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq-item">
                                <h2 class="faq-header" id="flush-headingTow">
                                <button class="accordion-button faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTow" aria-expanded="false" aria-controls="flush-collapseTow">
                                    Who will view my content?
                                </button>
                                </h2>
                                <div id="flush-collapseTow" class="accordion-collapse collapse faq-collapse" aria-labelledby="flush-headingTow" data-bs-parent="#accordionFlushExample">
                                    <div class="faq-item-body">
                                        <p>Learn at your own pace, move between multiple courses, or switch to a different course. Earn a certificate for every learning program that you complete at no additional cost.</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq-item">
                                <h2 class="faq-header" id="flush-headingThree">
                                <button class="accordion-button faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    What does it take become an author?
                                </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse faq-collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="faq-item-body">
                                        <p>Learn at your own pace, move between multiple courses, or switch to a different course. Earn a certificate for every learning program that you complete at no additional cost.</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq-item">
                                <h2 class="faq-header" id="flush-headingFour">
                                <button class="accordion-button faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    How to Change my Password easily?
                                </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse faq-collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="faq-item-body">
                                        <p>Learn at your own pace, move between multiple courses, or switch to a different course. Earn a certificate for every learning program that you complete at no additional cost.</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="edu-about-image">
                            <img src="assets/homepageAssets/images/all-img/faq.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End EduMim Faq Area -->

        <!-- Links of JS files -->
        <script src="../../../assets/homepageAssets/js/jquery.min.js"></script>
        <script src="../../../assets/js/bootstrap.min.js"></script>
        <script src="../../../assets/js/magnific-popup.min.js"></script>
        <script src="../../../assets/js/nice-select.min.js"></script>
        <script src="../../../assets/js/jquery.mixitup.min.js"></script>
        <script src="../../../assets/js/appear.min.js"></script>
        <script src="../../../assets/js/sticky-sidebar.min.js"></script>
        <script src="../../../assets/js/odometer.min.js"></script>
        <script src="../../../assets/js/owl.carousel.min.js"></script>
        <script src="../../../assets/js/meanmenu.min.js"></script>
        <script src="../../../assets/js/wow.min.js"></script>
        <script src="../../../assets/js/main.js"></script>
    </body>
</html>