.expired {
    background-color: #ff00ea !important; /* Geçmiş olanlar için kırmızı */
    color: black;
  }
  
  .notExpired {
    background-color: #4169E1 !important; /* Geçmemiş olanlar için yeşil */
    color: black;
  }
  .grid-container {
    position: relative;
    z-index: 1;
  }
  